body {
    background-color: mediumseagreen;
}

div.page-header {
    color: white;
}

.infoMessage {
    font-weight: bold;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.attention {
    animation: blinker 1s linear infinite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}